html {
	--lh: 1.4rem;
	line-height: var(--lh);
}


body {
	--bg: #ffffff;
	--fontColor: #1a1a00;
	--borderColor: #d9d9d9;
	--btnColor: #076cec;
	--mainBg: #eef7f7;
	--darkModeBtnColor: #919191;
	font-family: 'Open Sans', sans-serif;

	background: var(--mainBg);
	color: var(--fontColor);
	padding-top: 100px;
	padding: 50px;

	.truncate-overflow {
		--max-lines: 3;
		position: relative;
		max-height: calc(var(--lh) * var(--max-lines));
		text-overflow: fade;
		overflow: hidden;
	}

	main {
		max-width: 1000px;
		margin: 0 auto;
	}

	h1 {
		font-weight: 300;
		width: fit-content;
	}

	.wrapper-row {
		display: flex;
		flex-direction: row;
	}

	.wrapper-col {
		display: flex;
		flex-direction: column;
	}

	.results {
		color: var(--fontColor);
		font-size: 12px;
		margin: 12px 5px;
	}

	header {
		width: 100%;
		flex-shrink: 0;
		border-radius: 6px;
		background-color: #fff;
		box-shadow: 0 2px 6px 1px var(--borderColor);
		margin-bottom: 14px;
		display: flex;
		flex-direction: column;
		border: 1px solid var(--borderColor);
		padding: 10px 20px;
		position: relative;

		input {
			width: 100%;
			text-overflow: ellipsis;
			display: inline-block;
			color: #1a1a00;;
			font-size: 14px;
			outline: 0;
			transition: border .1s ease;
			resize: none;
			border: 1px solid var(--borderColor);
			border: none;

			&::placeholder  {
				color: #b6c1cd;
			}
		}
	}

	a {
		color: var(--fontColor);
		cursor: pointer;
		font-weight: 500;
		font-size: 12px;
	}

	.page-section{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}

	button {
		font-size: 10pt;
		margin: auto 0 0 auto;
		background: none;
		border: none;
		font-weight: lighter;
		padding: 0;
		font-family: arial, sans-serif;
		color: var(--btnColor);
		cursor: pointer;
	}

	.dark-mode-btn {
		margin-top: 0;
		width: fit-content;
		padding: 10px;
		color: var(--fontColor);
	}

	.see-more-btn{
		font-size: 10pt;
		margin: 5px auto auto 0;
		background: none;
		border: none;
		font-weight: normal;
		padding: 0;
		font-family: arial, sans-serif;
		color: var(--btnColor);
		cursor: pointer;
	}

	.clone-btn {
		background-color: #4CAF50;
		border: none;
		color: white;
		padding: 10px 25px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: auto 0 auto auto;
		cursor: pointer;
	}

	.tickets {

		margin: 0;
		padding: 0;

		.ticket {
			width: 100%;
			flex-shrink: 0;
			border-radius: 8px;
			background-color: var(--bg);
			box-shadow: 0 2px 6px 1px var(--borderColor);
			margin-bottom: 14px;
			display: flex;
			flex-direction: column;
			border: 1px solid var(--borderColor);
			padding: 10px 20px;
			transition: box-shadow .2s ease-in-out;
			position: relative;

			&:hover {
				box-shadow: 0 2px 6px 1px var(--borderColor);
			}

			.title {
				margin: 10px 0;
				font-size: 16px;
				font-weight: 600;
				font-style: normal;
				color: var(--fontColor);
			}

			.content {
				margin: 10px 0;
				font-size: 16px;
				font-weight: 400;
				font-style: normal;
				color: var(--fontColor);
			}

			footer {

				display: flex;
				justify-content: space-between;

				.meta-data {
					color: var(--fontColor);
					font-size: 12px;
					margin: 10px 0;
					flex-shrink: 0;
				}
			}
		}
	}
}


body.dark-mode {
	--bg: #262626;
	--fontColor: #e1e5e8;
	--btnColor: #ecdfdf;
	--borderColor: #1a1a00;
	--mainBg: #1a1a1a;
}
